/* components/style.css */


body {
    background-color: #ffe6f0; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.gate-intro {
    color: #ff3399; 
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255, 51, 153, 0.5); 
    animation: bounce 2s infinite; 
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
